<h1>Password generator</h1>
<div>
  <label>Enter length</label>
  <input type="text" />
</div>
<div>
  <label>Use Letters</label>
  <input type="checkbox" name="" id="" />
</div>
<div>
  <label>Use Numbers</label>
  <input type="checkbox" name="" id="" />
</div>
<div>
  <label>Use Symbols</label>
  <input type="checkbox" name="" id="" />
</div>

<div>
  <button (click)="this.onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your password</label>
  <input type="text" [value]="this.getPassword()">
</div>

<!-- {{password}}
{{getName()}} -->
